@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700,900');

/*
* 4
* 8
* 16
* 24
* 32
* 40
* 48
* 56
* 64
* 72
* 80
*/

/* Globals */

body,
html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;    

    --main-color-dark: #112153;
    --main-color-light: #43c6ac;
    --second-color-light: white;
    --second-color-dark: #2c3e50;

    --regular-margin: 24px;
    --huge-margin: 80px;

    --border-radius: 4px;

    --font-size-h1: 20px;
    --font-size-p: 16px;
}

*:focus {
    outline: none !important;
}