<template>
    <div class="container">
        <masonry
            :cols="{ default: 4, 1200: 4, 992: 2, 768: 2, 576: 1 }"
            :gutter="{ default: '30px', 768: '15px' }"
        >
            <div
                class="masonryItem"
                v-for="(item, index) in courseArray"
                :key="index"
            >
                <div class="itemContainer">
                    <h4>{{ item.title }}</h4>
                    <p>{{ item['description-p'][0] }}</p>
                    <router-link
                        :to="{
                            path: '/about/' + item.title,
                            query: {
                                /* title: item.title,
                                pArray: item['description-p'],
                                price: item.price,
                                olArray: item['description-ol'] */
                                item: item
                            }
                        }"
                        >Details</router-link
                    >
                    <button
                        v-on:click="
                            addToCart({
                                title: item.title,
                                query: $route.query,
                                quantity: 1,
                                price: item.price,
                                'description-p': item['description-p'],
                                'description-ol': item['description-ol']
                            })
                        "
                    >
                        Add to Cart
                    </button>
                </div>
            </div>
        </masonry>
    </div>
</template>

<script>
import courses from '../assets/data/careHomesData';
export default {
    data() {
        return {
            courseArray: courses
        };
    },
    methods: {
        addToCart(object) {
            this.$store.state.cartItems.push(object);
            this.$store.state.totalQuantity += 1;
        }
    }
};
</script>

<style scoped>
h4 {
    color: var(--main-color-light);
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
    cursor: default;
}

p {
    margin-left: 10px;
    color: var(--second-color-dark);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.5em;
    max-height: 8em;
    margin-right: 10px;
    cursor: default;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: var(--main-color-dark);
    text-transform: uppercase;
    border: 2px solid var(--main-color-dark);
    width: 100px;
    font-weight: bold;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    margin-left: 10px;
    padding: 5px 10px;
    transition: 0.2s;
}

button {
    color: var(--main-color-dark);
    text-transform: uppercase;
    border: 2px solid var(--main-color-dark);
    font-weight: bold;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    margin-left: 10px;
    padding: 4px 9px;
    transition: 0.2s;
}

a:hover,
button:hover {
    text-decoration: none;
    color: white;
    background: var(--main-color-dark);
}

h3 {
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
    margin-bottom: 40px;
}

#showMore {
    text-decoration: none;
    color: var(--second-color-light);
    text-transform: uppercase;
    border: 1px solid var(--main-color-dark);
    background: var(--main-color-dark);
    font-weight: bold;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    position: inherit;
    display: table;
    width: auto;
    padding: 10px 15px;
    margin: 40px auto;
}

.itemContainer {
    box-shadow: 0px 2px 7px #d8d8d8;
    padding: 10px 10px 20px 10px;
}

.masonryItem {
    margin-top: 20px;
    border-radius: 4px;
    transition: 0.2s;
    border: 1px solid rgb(223, 221, 221);
}

.masonryItem:hover {
    box-shadow: 1px 1px 20px #d8d8d8;
}
</style>
