<template>
    <div>
        <div
            class="container emptyCart"
            v-if="this.$store.state.cartItems.length === 0"
        >
            Your cart is empty
        </div>
        <div id="renderedStuff" v-else>
            <table id="cartItems">
                <tr>
                    <th>Title</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th></th>
                </tr>
                <tr
                    v-for="(item, i) in this.$store.state.cartItems"
                    :key="i"
                    class="cartItem"
                >
                    <td>
                        <router-link
                            :to="{
                                path: '/about/' + item.title,
                                query: { item: item }
                            }"
                            >{{ item.title }}</router-link
                        >
                    </td>
                    <td>
                        <button class="quantityButton" v-on:click="minus(item)">
                            -
                        </button>
                        <span class="quantity">{{ item.quantity }}</span>
                        <button class="quantityButton" v-on:click="plus(item)">
                            +
                        </button>
                    </td>
                    <td v-if="item.price != ''">£{{ item.price }}</td>
                    <td v-else>£0</td>
                    <td>£{{ totalForItem(item) }}</td>
                    <td>
                        <button
                            class="removeButton"
                            v-on:click="removeItem(item)"
                        >
                            remove
                        </button>
                    </td>
                </tr>
            </table>

            <div
                v-if="this.$store.state.cartItems.length != 0"
                style="text-align:center; font-weight: bold;"
            >
                <span>Total: </span>
                £{{ totalPrice(this.$store.state.cartItems) }}
            </div>
        </div>
    </div>
</template>

<script>
export default {
    methods: {
        plus(item) {
            this.$store.state.cartItems[
                this.$store.state.cartItems.indexOf(item)
            ].quantity += 1;
            this.$store.state.totalQuantity += 1;
        },
        minus(item) {
            if (
                this.$store.state.cartItems[
                    this.$store.state.cartItems.indexOf(item)
                ].quantity > 1
            ) {
                this.$store.state.cartItems[
                    this.$store.state.cartItems.indexOf(item)
                ].quantity -= 1;
                this.$store.state.totalQuantity -= 1;
            }
        },
        removeItem(item) {
            this.$store.state.cartItems.splice(
                this.$store.state.cartItems.indexOf(item),
                1
            );
            this.$store.state.totalQuantity -= item.quantity;
        },
        totalPrice(array) {
            return array
                .map(item => Number(item.price) * item.quantity)
                .reduce((a, b) => a + b, 0);
        },
        totalForItem(item) {
            return item.price * item.quantity;
        }
    }
};
</script>

<style scoped>
#cartItems {
    display: table;
    margin: 40px auto;
}

.emptyCart {
    text-align: center;
    margin-top: 50px;
    color: grey;
    min-height: 300px;
}

.removeButton,
.quantityButton {
    background: transparent;
    border-radius: var(--border-radius);
    color: rgb(87, 87, 87);
}

.removeButton:hover,
.quantityButton:hover {
    background: rgb(241, 241, 241);
}

tr th,
tr td {
    padding-left: 24px;
}

.quantity {
    display: inline-block;
    width: 32px;
    padding-left: 12px;
}

#renderedStuff {
    min-height: 300px;
}
</style>
