<template>
    <div>
        <div class="contactBg container-fluid">
            <h2 class="title">Contact</h2>
        </div>
        <div class="contactText container">
            <h2 class="getInTouch">Get in touch</h2>
            <p>
                Contact us for a free 30 minute advice and support consultation
                on your organisation’s training needs.
            </p>
        </div>

        <div class="contactDetails container">
            <div class="row">
                <div class="contactCol col-12 col-lg-4 col-xl-4">
                    <div class="contactInfoContainer">
                        <div class="contactInfo">
                            <font-awesome-icon
                                id="markerIcon"
                                icon="map-marker-alt"
                            />
                            <span>Top Floor, 53a Woodhall Road,</span>
                            <p class="secondLine">Chelmsford, Essex, CM1 4AE</p>
                            <p class="envelope">
                                <font-awesome-icon icon="envelope" />
                                <span>sales@thctc.co.uk</span>
                            </p>
                            <p class="phone">
                                <font-awesome-icon icon="phone" />
                                <span>01245 357132</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="mapCol col-12 col-lg-8 col-xl-8">
                    <div class="outer">
                        <div class="map_canvas">
                            <iframe
                                width="100%"
                                height="500"
                                id="map_canvas"
                                src="https://maps.google.com/maps?q=53a%20Woodhall%20Road%2C%20Chelmsford%2C%20Essex%2C%20CM1%204AE&t=&z=11&ie=UTF8&iwloc=&output=embed"
                                frameborder="0"
                                scrolling="no"
                                marginheight="0"
                                marginwidth="0"
                            ></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>
.mapCol {
    padding: 0;
}

.outer {
    position: relative;
    height: 500px;
    width: 100%;
    margin-top: 40px;
}

.map_canvas {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 100%;
}

.contactBg {
    height: 400px;
    color: var(--second-color-light);
    background: #242323;
    background-image: url('../assets/img/contact/contact.jpg');
    background-image: linear-gradient(
            to right,
            rgba(23, 23, 26, 0.9),
            rgba(18, 19, 19, 0.7)
        ),
        url('../assets/img/contact/contact.jpg');
    background-image: -webkit-linear-gradient(
            to right,
            rgba(22, 22, 22, 0.9),
            rgba(11, 12, 12, 0.7)
        ),
        url('../assets/img/contact/contact.jpg');
    background-position: center;
    background-size: cover;
}

h2.title {
    font-weight: bold;
    padding-top: 180px;
    text-align: center;
}

h2.getInTouch {
    font-weight: bold;
    margin-top: 40px;
}

.contactInfo {
    color: white;
    display: table;
    margin: 0 auto;
}

.contactInfoContainer {
    background: var(--main-color-dark);
    padding: 60px 20px;
    margin-top: 40px;
}

svg {
    margin-right: 20px;
}

.secondLine {
    margin-left: 32px;
}

.phone {
    margin-top: 40px;
    margin-bottom: 0;
}

.envelope {
    margin-top: 30px;
}

/* === Media Queries === */

@media (max-width: 992px) {
    .contactCol {
        padding: 0;
    }
}

@media (max-width: 576px) {
    .contactInfoContainer {
        margin-top: 20px;
    }
    .outer {
        margin-top: 0;
    }
}
</style>
