<template>
    <div>
        <h2 style="font-weight: bold; text-align:center; margin-top:32px;">Available courses</h2>
        <!--  
        <div class="container-fluid coursesBg">
            <h2 class="title">Courses</h2>
        </div>
        

        <div class="linksContainer">
            <router-link to="/courses/care-homes">Care Homes</router-link>
            <router-link to="/courses/home-care">Home Care</router-link>
        </div>

        <router-view></router-view>
        -->
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="searchCourses">
                        Search
                    </div>
                    <div class="categories">
                        <div class="categoryHeader">
                            Category
                        </div>
                        <div class="categoryList">
                            <button v-on:click="updateList">Home Care</button>
                            <button>Care Homes</button>
                        </div>
                    </div>
                    <div class="configurePrice">
                        Price
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                     <masonry
            :cols="{ default: 1, 1200: 1, 992: 1, 768: 1, 576: 1 }"
            :gutter="{ default: '30px', 768: '15px' }"
        >
            <div
                class="masonryItem"
                v-for="(item, index) in allCourses"
                :key="index"
            >
                <div class="itemContainer">
                    <h4>{{ item.title }}</h4>
                    <p>{{ item['description-p'][0] }}</p>
                    <router-link
                        :to="{
                            path: '/about/' + item.title,
                            query: {
                                /* title: item.title,
                                pArray: item['description-p'],
                                price: item.price,
                                olArray: item['description-ol'] */
                                item: item
                            }
                        }"
                        >Details</router-link
                    >
                    <button
                        v-on:click="
                            addToCart({
                                title: item.title,
                                query: $route.query,
                                quantity: 1,
                                price: item.price,
                                'description-p': item['description-p'],
                                'description-ol': item['description-ol']
                            })
                        "
                    >
                        Add to Cart
                    </button>
                </div>
            </div>
        </masonry>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import careHomes from '../assets/data/careHomesData';
import homeCare from '../assets/data/homeCareData';

export default {
    data() {
        return {
            courses: [{'data' : careHomes, 'name': 'careHomes'}, {'data' : homeCare, 'name': 'homeCare'}],
            state: {'category': 'all', 'price':'all', 'test': 'empty'},
            test: [{type: 'dick'}, {type: 'fuck'}],
            allCourses: careHomes
        }
    },
    methods: {
        addToCart(object) {
            this.$store.state.cartItems.push(object);
            this.$store.state.totalQuantity += 1;
        }
    }
}
</script>


<style scoped>
h2.title {
    font-weight: bold;
    padding-top: 180px;
    text-align: center;
}

.coursesBg {
    height: 400px;
    color: var(--second-color-light);
    background: #242323;
    background-image: url('../assets/img/courses/courses.jpg');
    background-image: linear-gradient(
            to right,
            rgba(23, 23, 26, 0.9),
            rgba(18, 19, 19, 0.7)
        ),
        url('../assets/img/courses/courses.jpg');
    background-image: -webkit-linear-gradient(
            to right,
            rgba(22, 22, 22, 0.9),
            rgba(11, 12, 12, 0.7)
        ),
        url('../assets/img/courses/courses.jpg');
    background-position: center;
    background-size: cover;
}

a {
    border-radius: 4px;
    background: var(--main-color-dark);
    color: white;
    padding: 4px 12px;
    margin-right: 12px;
}

.linksContainer {
    display: table;
    margin: 40px auto;
}

/* Category Filter */

.categoryHeader {
    background-color: #f5f5f5;
    font-weight: bold;
    font-size: 16px;
    padding: 12px 16px;
    color: #454545;
}

/* COURSES STYLE */

h4 {
    color: var(--main-color-light);
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
    cursor: default;
}

p {
    margin-left: 10px;
    color: var(--second-color-dark);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.5em;
    max-height: 8em;
    margin-right: 10px;
    cursor: default;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid var(--main-color-dark);
    width: 100px;
    font-weight: bold;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    margin-left: 10px;
    padding: 5px 10px;
    transition: 0.2s;
}

button {
    color: var(--main-color-dark);
    text-transform: uppercase;
    border: 2px solid var(--main-color-dark);
    font-weight: bold;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    padding: 4px 9px;
    transition: 0.2s;
}

a:hover,
button:hover {
    text-decoration: none;
    color: white;
    background: var(--main-color-dark);
}

h3 {
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
    margin-bottom: 40px;
}

#showMore {
    text-decoration: none;
    color: var(--second-color-light);
    text-transform: uppercase;
    border: 1px solid var(--main-color-dark);
    background: var(--main-color-dark);
    font-weight: bold;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    position: inherit;
    display: table;
    width: auto;
    padding: 10px 15px;
    margin: 40px auto;
}

.itemContainer {
    box-shadow: 0px 2px 7px #d8d8d8;
    padding: 10px 10px 20px 10px;
}

.masonryItem {
    margin-top: 20px;
    border-radius: 4px;
    transition: 0.2s;
    border: 1px solid rgb(223, 221, 221);
}

.masonryItem:hover {
    box-shadow: 1px 1px 20px #d8d8d8;
}
</style>
