<template>
    <div class="container descriptionContainer">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-7 col-xl-7">
                <div class="textContent">
                    <h1>{{ $route.query.item.title }}</h1>
                    <div
                        class="description-p"
                        v-for="(item, i) in $route.query.item['description-p']"
                        :key="'p' + i"
                    >
                        <p v-if="item[item.length - 1] !== ':'">{{ item }}</p>
                    </div>
                    <p class="outline">Outline of Programme:</p>
                    <ul
                        v-for="(item, i) in $route.query.item['description-ol']"
                        :key="'ol' + i"
                    >
                        <li>{{ item }}</li>
                    </ul>
                    <p class="price" v-if="$route.query.item.price === ''">
                        Configure for price
                    </p>
                    <p class="price" v-else>£{{ $route.query.item.price }}</p>
                    <button
                        class="addToCart"
                        v-on:click="
                            addToCart({
                                title: $route.query.item.title,
                                query: $route.query,
                                quantity: 1,
                                price: $route.query.item.price,
                                'description-p':
                                    $route.query.item['description-p'],
                                'description-ol':
                                    $route.query.item['description-ol']
                            })
                        "
                    >
                        Add to Cart
                    </button>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5">
                <div class="contactForm">
                    <div class="formContent">
                        <h4>Contact for more course details</h4>
                        <b-form-input
                            v-model="text"
                            placeholder="Title"
                        ></b-form-input>
                        <b-form-input
                            v-model="text"
                            placeholder="First Name"
                        ></b-form-input>
                        <b-form-input
                            v-model="text"
                            placeholder="Last Name"
                        ></b-form-input>
                        <b-form-input
                            v-model="text"
                            placeholder="Email"
                        ></b-form-input>
                        <b-form-input
                            v-model="text"
                            placeholder="Phone"
                        ></b-form-input>
                        <b-form-textarea
                            id="textarea"
                            v-model="text"
                            placeholder="Comments..."
                            rows="3"
                            max-rows="6"
                        ></b-form-textarea>
                        <button class="submitButton">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    methods: {
        addToCart(object) {
            this.$store.state.cartItems.push(object);
            this.$store.state.totalQuantity += 1;
        }
    }
};
</script>

<style scoped>
.descriptionContainer {
    margin: var(--huge-margin) auto;
}

h1 {
    margin-bottom: 24px;
    font-weight: bold;
}

.outline {
    margin-top: 40px;
    margin-bottom: 24px;
    font-weight: bold;
}

.price {
    color: orange;
    font-weight: bold;
    padding-top: 24px;
    font-size: 24px;
}

.addToCart {
    padding: 8px 16px;
    background: var(--main-color-dark);
    color: white;
    font-size: 24px;
    border: 1px solid var(--main-color-dark);
    border-radius: 4px;
}

/*=== Form ===*/

.contactForm {
    background-color: var(--main-color-dark);
    color: white;
    padding-bottom: 32px;
    border-radius: 4px;
}

.textContent {
    padding-right: 40px;
}

.colForm {
    padding-right: 0;
}

.contactForm h4 {
    font-weight: bold;
    text-align: center;
    padding: 32px 40px;
    font-size: 24px;
}

.formContent input {
    display: table;
    margin: 0 auto;
    border-radius: 4px;
    border: none;
    margin-bottom: 12px;
    width: 80%;
}

.formContent textarea.comments,
.formContent textarea#textarea {
    height: 100px;
    color: rgb(121, 120, 120);
    border-radius: 4px;
    border: none;
    width: 80%;
    display: table;
    margin: 0 auto;
}

.formContent input[type='text'] {
    padding: 4px 12px;
    color: rgb(121, 120, 120);
}

.submitButton {
    border: 2px solid var(--main-color-light);
    color: white;
    background: var(--main-color-light);
    border-radius: 4px;
    padding: 12px 16px;
    font-weight: bold;
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    margin-bottom: 24px;
    width: 80%;
}

@media (max-width: 768px) {
    .textContent {
        padding-right: 24px;
    }

    .addToCart {
        display: table;
        margin: 40px auto;
    }
}
</style>
