<template>
    <div class="coursesContainer container">
        <h3>Search results</h3>
        <p
            style="text-align:center;"
            v-if="this.$store.state.searchItems.length === 0"
        >
            Nothing found
        </p>
        <masonry
            :cols="{ default: 2, 1200: 2, 992: 2, 768: 2, 576: 1 }"
            :gutter="{ default: '30px', 768: '15px' }"
        >
            <div
                class="masonryItem"
                v-for="(item, i) in this.$store.state.searchItems"
                :key="i"
            >
                <div class="itemContainer">
                    <h4>{{ item.title }}</h4>
                    <p>{{ item['description-p'][0] }}</p>
                    <router-link
                        :to="{
                            path: '/about/' + item.title,
                            query: {
                                item: item
                            }
                        }"
                        >Details</router-link
                    >
                    <button
                        v-on:click="
                            addToCart({
                                title: item.title,
                                href: '/courses/care-homes/' + item.title,
                                query: $route.query,
                                quantity: 1,
                                price: item.price
                            })
                        "
                    >
                        Add to Cart
                    </button>
                </div>
            </div>
        </masonry>
    </div>
</template>

<script>
export default {
    methods: {
        addToCart(object) {
            this.$store.state.cartItems.push(object);
            this.$store.state.totalQuantity += 1;
        }
    }
};
</script>

<style scoped>
.coursesContainer {
    margin-top: 40px;
    margin-bottom: 40px;
    min-height: 300px;
}

.card {
    border: none;
    box-shadow: 0px 2px 7px #d8d8d8;
    transition: 0.2s;
    margin-top: 20px;
}

.card:hover {
    box-shadow: 1px 1px 10px #d8d8d8;
}

h4 {
    color: var(--main-color-light);
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
    cursor: default;
}

p {
    margin-left: 10px;
    color: var(--second-color-dark);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-height: 1.5em; /* fallback */
    max-height: 8em; /* fallback */
    margin-right: 10px;
    cursor: default;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: var(--main-color-dark);
    text-transform: uppercase;
    border: 2px solid var(--main-color-dark);
    width: 100px;
    font-weight: bold;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    margin-left: 10px;
    padding: 5px 10px;
    transition: 0.2s;
}

button {
    color: var(--main-color-dark);
    text-transform: uppercase;
    border: 2px solid var(--main-color-dark);
    font-weight: bold;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    margin-left: 10px;
    padding: 4px 9px;
    transition: 0.2s;
}

a:hover,
button:hover {
    text-decoration: none;
    color: white;
    background: var(--main-color-dark);
}

h3 {
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
    margin-bottom: 40px;
}

#showMore {
    text-decoration: none;
    color: var(--second-color-light);
    text-transform: uppercase;
    border: 1px solid var(--main-color-dark);
    background: var(--main-color-dark);
    font-weight: bold;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    position: inherit;
    display: table;
    width: auto;
    padding: 10px 15px;
    margin: 40px auto;
}

.itemContainer {
    box-shadow: 0px 2px 7px #d8d8d8;
    padding: 10px 10px 20px 10px;
}

.masonryItem {
    margin-top: 20px;
    border-radius: 4px;
    transition: 0.2s;
    border: 1px solid rgb(223, 221, 221);
}

.masonryItem:hover {
    box-shadow: 1px 1px 20px #d8d8d8;
}
</style>
