<template>
    <div class="footerContainer">
        <div class="row">
            <div class="footerItem col-4 col-sm-3 col-md-3 col-lg-2 col-xl-2">
                <img src="../assets/img/logo.png" alt="logo" />
            </div>
            <div class="footerItem col-8 col-sm-9 col-md-5 col-lg-4 col-xl-4">
                <div class="address">
                    <font-awesome-icon id="markerIcon" icon="map-marker-alt" />
                    <span>Top Floor, 53a Woodhall Road,</span>
                    <p>Chelmsford, Essex, CM1 4AE</p>
                </div>
            </div>
            <div
                class="contactsFooter col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3"
            >
                <font-awesome-icon icon="phone" />
                <span>01245 357132</span>

                <div>
                    <font-awesome-icon icon="envelope" />
                    <span>sales@thctc.co.uk</span>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <div class="socialMedia">
                    <a
                        href="https://www.facebook.com/healthcaretrainingcompany/"
                        ><font-awesome-icon :icon="['fab', 'facebook-f']"
                    /></a>
                    <font-awesome-icon :icon="['fab', 'twitter']" />
                    <a
                        href="https://www.youtube.com/channel/UCkC6VVflBun0ShmR8lR_UXQ"
                        ><font-awesome-icon :icon="['fab', 'youtube']"
                    /></a>
                    <font-awesome-icon :icon="['fab', 'google-plus-g']" />
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>
.footerItem {
    padding: 0;
}

.footerContainer {
    height: 140px;
    background-color: var(--main-color-dark);
    color: white;
    margin-top: 40px;
}

.contactsFooter {
    margin-top: 50px;
}

.contactsFooter svg {
    margin-right: 10px;
}

.socialMedia {
    margin-top: 60px;
    text-align: right;
    margin-right: 20px;
}

.socialMedia svg {
    margin-right: 30px;
    cursor: pointer;
    transition: 0.2s;
}

.socialMedia svg:hover {
    color: var(--main-color-light);
}

p {
    margin-left: 22px;
}

.address {
    margin-top: 50px;
}

img {
    width: 100px;
    margin-left: 40px;
    margin-top: 20px;
}

a {
    color: white;
    transition: 0.2s;
}

a:hover {
    color: var(--main-color-light);
}

#markerIcon {
    margin-right: 10px;
}

/* MEDIA */

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
    .footerContainer {
        height: auto;
    }

    .socialMedia {
        margin-top: 40px;
        text-align: left;
        margin-left: 20px;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .contactsFooter {
        margin-top: 20px;
        margin-left: 24px;
    }

    .socialMedia {
        margin-top: 40px;
        text-align: left;
        margin-left: 20px;
        margin-bottom: 20px;
    }
}

@media (max-width: 576px) {
}
</style>
