<template>
    <div class="homeContainer">
        <div class="header">
            <h2>
                Proven professional, knowledgeable, friendly, and supportive.
            </h2>
            <p>Easy to work with. Guaranteed.</p>

            <div class="buttons">
                <router-link to="/courses/home-care" class="homeCare"
                    >Home Care</router-link
                >
                <router-link to="/courses/care-homes" class="careHomes"
                    >Care Homes</router-link
                >
            </div>
        </div>
        <div class="line row">
            <p>
                We believe in better training taught practically, do you? Get in
                touch. Call <span id="number">01245 357132</span>.
            </p>
        </div>
        <div class="about row">
            <div class="aboutText col-12 col-lg-6 col-xl-6 col-md-12 col-sm-12">
                <h2>Something here</h2>
                <p>
                    Do you need trainers that are knowledgeable, academically
                    and practically skilled flexible and who engage your staff
                    guaranteed? If you do business with us, we’ll provide you
                    with professional training that specifically benefits your
                    staff in the real world. With a variety of reports created
                    to meet your organisational needs.
                </p>
            </div>
            <div class="aboutImg col-12 col-lg-6 col-xl-6 col-md-12 col-sm-12">
                <img src="../assets/img/home/img1.jpg" alt="" />
            </div>
        </div>
        <CoursesHome />
        <Reviews />
    </div>
</template>

<script>
import CoursesHome from './CoursesHome.vue';
import Reviews from './Reviews.vue';

export default {
    components: {
        CoursesHome,
        Reviews
    }
};
</script>

<style scoped>
.header {
    text-align: center;
    color: var(--second-color-light);
    height: 500px;
    background: #43c6ac; /* fallback for old browsers */
    background-image: url('../assets/img/home/bg2.jpg');
    background-image: linear-gradient(
            to right,
            rgba(25, 22, 84, 0.9),
            rgba(67, 198, 172, 0.7)
        ),
        url('../assets/img/home/bg2.jpg');
    background-image: -webkit-linear-gradient(
            to right,
            rgba(25, 22, 84, 0.9),
            rgba(67, 198, 172, 0.7)
        ),
        url('../assets/img/home/bg2.jpg');
    background-position: center;
    background-size: cover;
}

.header h2 {
    padding-top: 150px;
}

.header p {
    font-size: 18px;
    margin-bottom: 40px;
}

.homeCare {
    text-decoration: none;
    border: 2px solid white;
    padding: 10px 15px;
    font-weight: bold;
    color: white;
    margin-right: 10px;
    transition: 0.2s;
    border-radius: 4px;
}

.careHomes {
    background: white;
    color: var(--main-color-dark);
    text-decoration: none;
    border: 2px solid white;
    padding: 10px 15px;
    font-weight: bold;
    transition: 0.2s;
    border-radius: 4px;
}

.homeCare:hover {
    background: white;
    color: var(--main-color-dark);
}

.careHomes:hover {
    background-color: var(--main-color-dark);
    border: 2px solid var(--main-color-dark);
    color: var(--second-color-light);
}

.line {
    height: 60px;
    color: white;
    background-color: var(--main-color-dark);
    font-size: 18px;
}

.line p {
    display: table;
    margin: 0 auto;
    padding-top: 16px;
}

.line span#number {
    color: var(--main-color-light);
}

.about h2 {
    font-weight: bold;
    margin-top: 120px;
    margin-left: 40px;
}

.about p {
    color: var(--second-color-dark);
    margin-left: 40px;
    margin-right: 60px;
}

.aboutText,
.shopText {
    background-color: #f1f5fa;
}

.aboutImg img,
.shopImg img {
    height: 420px;
    width: 100%;
    opacity: 0.7;
}

.aboutImg,
.shopImg {
    padding: 0;
}

.shop img {
    margin: 0;
}

.shop h2 {
    font-weight: bold;
    margin-top: 120px;
    text-align: right;
    margin-right: 40px;
}

.shop p {
    text-align: right;
    margin-right: 40px;
}

.shop a {
    float: right;
    margin-right: 35px;
    padding: 10px 15px;
    background: var(--main-color-dark);
    color: white;
    font-weight: bold;
    border-radius: 4px;
}

.shop a:hover {
    text-decoration: none;
    background: #182e72;
}

.shop {
    text-align: center;
    color: var(--second-color-light);
    height: 420px;
    background: #43c6ac;
    background-image: url('../assets/img/home/bg3.jpg');
    background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.3),
            rgba(22, 22, 22, 0.7)
        ),
        url('../assets/img/home/bg3.jpg');
    background-image: -webkit-linear-gradient(
            to right,
            rgba(0, 0, 0, 0.3),
            rgba(25, 26, 25, 0.7)
        ),
        url('../assets/img/home/bg3.jpg');
    background-position: center;
    background-size: cover;
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
    .aboutImg,
    .shopImg {
        display: none;
    }

    .about h2 {
        font-weight: bold;
        margin-top: 40px;
        margin-left: 0;
        text-align: center;
    }

    .about p {
        color: var(--second-color-dark);
        margin: 0 20px;
        text-align: center;
    }

    .aboutText {
        padding-bottom: 40px;
    }

    .shop h2 {
        font-weight: bold;
        margin-top: 20px;
        text-align: center;
    }

    .shop p {
        text-align: center;
    }

    .shop a {
        float: inherit;
        display: table;
        margin-right: 0 auto;
        border: 1px solid red;
    }
}

@media (max-width: 768px) {
    .header {
        background: #43c6ac; /* fallback for old browsers */
        background-image: linear-gradient(
            to right,
            rgba(25, 22, 84, 0.9),
            rgba(67, 198, 172, 0.7)
        );
        background-image: -webkit-linear-gradient(
            to right,
            rgba(25, 22, 84, 0.9),
            rgba(67, 198, 172, 0.7)
        );
    }

    .line {
        font-size: 16px;
        height: 80px;
        text-align: center;
    }

    .line p {
        margin: 10px 40px;
        padding-top: 7px;
    }
}

@media (max-width: 576px) {
    .line {
        display: none;
    }

    .shop {
        height: 320px;
    }
}
</style>
