<template>
    <div>
        <b-modal
            id="login"
            ref="login"
            title="Login"
            @show="resetModal"
            @hidden="resetModal"
            @ok="handleOk"
        >
            <form ref="form" @submit.stop.prevent="handleSubmit">
                <b-form-group
                    :state="nameState"
                    label="Name"
                    label-for="name-input"
                    invalid-feedback="Name is required"
                >
                    <b-form-input
                        id="name-input"
                        v-model="name"
                        :state="nameState"
                        required
                    ></b-form-input>
                </b-form-group>

                <b-form-group
                    :state="emailState"
                    label="Email"
                    label-for="email-input"
                    invalid-feedback="Valid email is required"
                >
                    <b-form-input
                        id="email-input"
                        v-model="email"
                        :state="emailState"
                        required
                    ></b-form-input>
                </b-form-group>

                <b-form-group
                    :state="passwordState"
                    label="Password"
                    label-for="password-input"
                    invalid-feedback="Password is required"
                >
                    <b-form-input
                        id="password-input"
                        v-model="password"
                        :state="passwordState"
                        type="password"
                        required
                    ></b-form-input>
                </b-form-group>
            </form>
        </b-modal>
    </div>
</template>

<script>
export default {
    data() {
        return {
            name: '',
            password: '',
            email: '',
            nameState: null,
            emailState: null,
            passwordState: null
        };
    },
    methods: {
        checkFormValidity() {
            const valid = this.$refs.form.checkValidity();
            this.nameState = valid ? 'valid' : 'invalid';
            this.emailState =
                valid && this.validEmail(this.email) ? 'valid' : 'invalid';
            this.passwordState = valid ? 'valid' : 'invalid';

            return valid;
        },
        resetModal() {
            this.name = '';
            this.email = '';
            this.password = '';
            this.nameState = null;
            this.emailState = null;
            this.passwordState = null;
        },
        handleOk(bvModalEvt) {
            bvModalEvt.preventDefault();
            this.handleSubmit();
            /*console.log({
                email: this.email,
                name: this.name,
                password: this.password
            });*/
        },
        handleSubmit() {
            // Exit when the form isn't valid
            if (!this.checkFormValidity()) {
                return;
            }
            // Hide the modal manually
            this.$nextTick(() => {
                this.$refs.modal.hide();
            });
        },
        validEmail(email) {
            var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        }
    }
};
</script>
