<template>
    <div class="navContainer">
        <div class="upperNav container-fluid">
            <div class="row">
                <div
                    class="contacts col-10 col-sm-8 col-md-8 col-lg-7 col-lx-7"
                >
                    <span>
                        <font-awesome-icon icon="phone" />
                        01245 357132
                    </span>
                    <span>
                        <font-awesome-icon icon="envelope" />
                        sales@thctc.co.uk
                    </span>
                </div>

                <div class="socialMedia col-lg-3 col-lx-3">
                    <a
                        href="https://www.facebook.com/healthcaretrainingcompany/"
                        ><font-awesome-icon :icon="['fab', 'facebook-f']"
                    /></a>
                    <font-awesome-icon :icon="['fab', 'twitter']" />
                    <a
                        href="https://www.youtube.com/channel/UCkC6VVflBun0ShmR8lR_UXQ"
                        ><font-awesome-icon :icon="['fab', 'youtube']"
                    /></a>
                    <font-awesome-icon :icon="['fab', 'google-plus-g']" />
                </div>
                <div
                    class="searchContainer col-2 col-sm-4 col-md-4 col-lg-2 col-lx-2"
                >
                    <router-link to="/cart">
                        <font-awesome-icon
                            class="shoppingCartIcon"
                            icon="shopping-cart"
                        />
                        <div class="cartBadge">
                            {{ this.$store.state.totalQuantity }}
                        </div>
                    </router-link>
                    <div class="search" v-on:click="isHidden = !isHidden">
                        <font-awesome-icon icon="search" />
                    </div>
                </div>
            </div>
        </div>

        <div id="hiddenSearch" v-if="!isHidden" class="container-fluid">
            <div class="row inputContainer justify-content-center">
                <input
                    type="text"
                    v-on:keyup.enter="findCourses"
                    v-model="input"
                    value="Type something & press enter"
                />
            </div>
        </div>

        <div class="regularNav container-fluid">
            <div class="row">
                <div class="imageCol col-xl-5 col-lg-5 col-md-2 col-sm-6 col-6">
                    <router-link to="/"
                        ><img src="../assets/img/logo.png" alt="logo"
                    /></router-link>
                </div>
                <div class="linksCol col-xl-4 col-lg-4 col-md-6">
                    <div class="navLinks">
                        <router-link to="/">Home</router-link>
                        <router-link to="/courses/care-homes"
                            >Courses</router-link
                        >
                        <router-link to="/contact">Contact</router-link>
                        <router-link to="/resources">Resources</router-link>
                    </div>
                </div>
                <div class="loginCol col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="loginContainer">
                        <a v-b-modal="'login'" class="login">
                            Log In
                        </a>
                        <a v-b-modal="'signup'" class="signup">
                            Sign Up
                        </a>
                    </div>

                    <div id="sidebar">
                        <font-awesome-icon icon="bars" class="hiddenBars" />
                        <!-- <div class="hiddenLinks">
                            <router-link to="/">Home</router-link>
                            <router-link to="/courses">Courses</router-link>
                            <router-link to="/contact">Contact</router-link>
                            <router-link to="/resources">Resources</router-link>
                            <router-link to="/cart">Cart</router-link>
                        </div>
                        <div class="loginHiddenContainer">
                            <a class="login">
                                Log In
                            </a>
                            <a class="signup">
                                Sign Up
                            </a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <Signup />
        <Login />
    </div>
</template>

<script>
import homeCareArray from '../assets/data/homeCareData.js';
import careHomesArray from '../assets/data/careHomesData.js';
import Login from './Login.vue';
import Signup from './Signup.vue';

export default {
    data() {
        return {
            isHidden: true,
            input: 'Type something & press enter',
            isCollapsed: true
        };
    },
    components: {
        Login,
        Signup
    },
    methods: {
        findCourses() {
            /**
             * Search course by its title
             */

            var res = [];

            var findThis = this.input.toLowerCase().split(' '); // array of str
            var courses = homeCareArray.concat(careHomesArray);

            findThis.map(key => {
                courses.map(course => {
                    if (
                        course.title
                            .toLowerCase()
                            .split(' ')
                            .some(x => x === key)
                    ) {
                        res.push(course);
                    }
                });
            });

            this.$store.state.searchItems = res;
            this.$router.push({ name: 'search' });
        }
    }
};
</script>

<style scoped>
.upperNav {
    height: 60px;
    background-color: var(--main-color-dark);
    color: var(--second-color-light);
}

.contacts {
    padding-top: 18px;
    padding-left: 40px;
}

.contacts span {
    margin-right: 20px;
}

.search {
    background-color: var(--main-color-light);
    cursor: pointer;
    height: 60px;
    width: 50px;
    float: right;
}

.search svg {
    margin-top: 20px;
}

.socialMedia {
    padding-top: 18px;
    text-align: right;
}

.searchContainer {
    text-align: center;
}

.socialMedia svg {
    margin-right: 30px;
    cursor: pointer;
    transition: 0.2s;
}

.upperNav a {
    color: white;
}

.socialMedia svg:hover {
    color: var(--main-color-light);
}

#hiddenSearch {
    background: var(--main-color-light);
    height: 60px;
}

#hiddenSearch input {
    border-radius: 4px;
    border: none;
    height: 40px;
    margin-top: 10px;
    width: 80%;
}

.shoppingCartIcon {
    margin-top: 22px;
    margin-left: 20px;
}

.cartBadge {
    border-radius: 50%;
    background: red;
    font-size: 14px;
    width: 19px;
    height: 19px;
    position: relative;
    bottom: 8px;
    color: white;
    right: 4px;
    display: inline-block;
}

.cartBadge:hover {
    color: white;
}

#hiddenSearch input[type='text'] {
    padding: 4px 10px;
    color: rgb(121, 120, 120);
}

#hiddenSearch textarea:focus,
#hiddenSearch input:focus {
    outline: none;
}

/* ==================== Navigation ================== */

.regularNav {
    height: 80px;
    font-weight: bold;
    text-align: right;
    border-bottom: 1px solid #d8d8d8;
}

.regularNav .navLinks a {
    margin-right: 40px;
    cursor: pointer;
    text-decoration: none;
    color: var(--main-color-dark);
}

.regularNav .navLinks a:hover {
    opacity: 0.8;
}

.regularNav img {
    width: 100px;
    float: left;
    margin-left: 20px;
}

.navLinks {
    text-align: right;
    margin-top: 30px;
}

.signup,
.login {
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.login {
    border: 2px solid var(--main-color-dark);
    color: var(--main-color-dark) !important;
    transition: 0.2s;
    margin-right: 10px !important;
}

.login:hover {
    background: var(--main-color-dark);
    color: white !important;
    opacity: 1 !important;
}

.signup {
    border: 2px solid var(--main-color-dark);
    background: var(--main-color-dark);
    color: white !important;
    transition: 0.2s;
}

.signup:hover {
    border: 2px solid var(--main-color-light);
    background: var(--main-color-light);
}

.loginContainer {
    margin-top: 27px;
}

.navLinks a {
    color: white;
    transition: 0.2s;
}

.navLinks a:hover {
    color: var(--main-color-light);
}

/* ======================= Responsive Navigation ====================== */

.hiddenBars,
#sidebar {
    display: none;
    color: var(--main-color-dark);
}

/* ======================= Media Queries ============================= */

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
    .socialMedia {
        display: none;
    }
}

@media (max-width: 768px) {
    .searchContainer {
        padding-right: 0;
    }

    .contacts {
        padding-left: 10px;
    }

    .linksCol,
    .shoppingCartIcon,
    .cartBadge {
        display: none;
    }

    .regularNav .navLinks {
        display: none;
    }

    .regularNav img {
        margin-left: 0;
    }

    #sidebar {
        display: block;
        /*position: absolute;
        right: 0;
        z-index: 100;
        height: 580px;
        width: 240px;
        background: white;
        border-left: 2px solid grey;*/
    }

    .hiddenBars {
        display: block;
        font-size: 40px;
        float: right;
        cursor: pointer;
        margin-top: 20px;
        margin-right: 10px;
    }

    .loginContainer {
        display: none;
    }

    .loginHiddenContainer {
        display: table;
        margin: 0 auto;
    }

    .hiddenLinks a {
        display: table;
        margin: 10px auto;
        color: var(--second-color-dark);
    }

    .hiddenLinks {
        margin-top: 100px;
        margin-bottom: 40px;
    }
}

@media (max-width: 576px) {
}
</style>
