<template>
    <div>
        <div class="resourcesBg container-fluid">
            <h2 class="title">Resources</h2>
        </div>

        <div class="container resourcesContainer">
            <masonry
                :cols="{ default: 3, 1200: 3, 992: 3, 768: 2, 576: 1 }"
                :gutter="{ default: '30px', 768: '15px' }"
            >
                <div
                    class="masonryItem"
                    v-for="(item, index) in items"
                    :key="index"
                >
                    <div class="itemContainer">
                        <h4>{{ item.title }}</h4>
                        <p>by {{ item.author }}</p>
                        <p class="year">{{ item.year }}</p>
                        <a :href="item.href">Buy on Amazon</a>
                    </div>
                </div>
            </masonry>
        </div>
    </div>
</template>

<script>
import resources from '../assets/data/resources.js';

export default {
    data() {
        return {
            items: resources
        };
    }
};
</script>

<style scoped>
.resourcesBg {
    height: 400px;
    color: var(--second-color-light);
    background: #2c2c2c;
    background-image: url('../assets/img/resources/resources.jpg');
    background-image: linear-gradient(
            to right,
            rgba(23, 23, 26, 0.9),
            rgba(18, 19, 19, 0.7)
        ),
        url('../assets/img/resources/resources.jpg');
    background-image: -webkit-linear-gradient(
            to right,
            rgba(22, 22, 22, 0.9),
            rgba(11, 12, 12, 0.7)
        ),
        url('../assets/img/resources/resources.jpg');
    background-position: center;
    background-size: cover;
}

h2.title {
    font-weight: bold;
    padding-top: 180px;
    text-align: center;
}

.masonryItem {
    margin-top: 10px;
    background: rgb(230, 229, 229);
}

.itemContainer {
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 15px;
}

h4 {
    font-weight: bold;
    font-size: 18px;
}

a {
    border: 2px solid var(--main-color-dark);
    text-decoration: none;
    color: var(--second-color-light);
    font-weight: bold;
    font-size: 14px;
    padding: 5px 10px;
    background: var(--main-color-dark);
}

a:hover {
    text-decoration: none;
    color: white;
    background-color: #152964;
}

.resourcesContainer {
    margin-top: 10px;
}

.year {
    opacity: 0.7;
}
</style>
