<template>
    <div class="reviewsContainer">
        <h3>What our students have to say</h3>
        <div>
            <b-carousel
                id="carousel-1"
                v-model="slide"
                :interval="4000"
                indicators
                background="white"
                img-height="320"
                img-width="1024"
                class="visibleCarousel"
                @sliding-start="onSlideStart"
                @sliding-end="onSlideEnd"
            >
                <b-carousel-slide caption="" img-blank img-alt="reviews">
                    <div class="row centerMe">
                        <div
                            class="col-lg-6 col-md-6 col-12 col-lx-6 col-sm-12"
                        >
                            <div>
                                <p class="review">
                                    <q id="q">
                                        Really informative and enjoyable
                                        session. Trainer was knowledgable and
                                        confident in her presentation and
                                        responded to questions really well.
                                        Thank you!
                                    </q>
                                </p>
                                <p class="ratingIcons">
                                    <font-awesome-icon icon="star" />
                                    <font-awesome-icon icon="star" />
                                    <font-awesome-icon icon="star" />
                                    <font-awesome-icon icon="star" />
                                    <font-awesome-icon icon="star" />
                                </p>
                                <p class="author">- Nikki Rogers</p>
                            </div>
                        </div>
                        <div
                            class="col-lg-6 col-md-6 col-12 col-lx-6 col-sm-12"
                        >
                            <div>
                                <p class="review">
                                    <q id="q">
                                        Debbie our Basic First Aid For Carers
                                        trainer was great, very imformative and
                                        felt our personal stories were valued.
                                    </q>
                                </p>
                                <p class="ratingIcons">
                                    <font-awesome-icon icon="star" />
                                    <font-awesome-icon icon="star" />
                                    <font-awesome-icon icon="star" />
                                    <font-awesome-icon icon="star" />
                                    <font-awesome-icon icon="star" />
                                </p>
                                <p class="author">- Lyn Reid</p>
                            </div>
                        </div>
                    </div>
                </b-carousel-slide>

                <b-carousel-slide caption="" img-blank img-alt="reviews">
                    <div class="row centerMe">
                        <div
                            class="col-lg-6 col-md-6 col-12 col-lx-6 col-sm-12"
                        >
                            <div>
                                <p class="review">
                                    <q id="q">
                                        Basic first aid training with Debbie was
                                        excellent. I learned a lot in the short
                                        time and Debbie was clear and patient
                                        with what she was telling us.
                                    </q>
                                </p>
                                <p class="ratingIcons">
                                    <font-awesome-icon icon="star" />
                                    <font-awesome-icon icon="star" />
                                    <font-awesome-icon icon="star" />
                                    <font-awesome-icon icon="star" />
                                    <font-awesome-icon icon="star" />
                                </p>
                                <p class="author">- Gemma Dean</p>
                            </div>
                        </div>
                        <div
                            class="col-lg-6 col-md-6 col-12 col-lx-6 col-sm-12"
                        >
                            <div>
                                <p class="review">
                                    <q id="q">
                                        Great day training with Debbie, lots of
                                        discussions and stories shared aiding to
                                        the real life practice of skills
                                        learnt/reminded upon.
                                    </q>
                                </p>
                                <p class="ratingIcons">
                                    <font-awesome-icon icon="star" />
                                    <font-awesome-icon icon="star" />
                                    <font-awesome-icon icon="star" />
                                    <font-awesome-icon icon="star" />
                                    <font-awesome-icon icon="star" />
                                </p>
                                <p class="author">- Daniel Clements</p>
                            </div>
                        </div>
                    </div>
                </b-carousel-slide>
            </b-carousel>

            <b-carousel
                id="carousel-2"
                v-model="slide"
                :interval="4000"
                indicators
                background="white"
                img-height="380"
                img-width="1024"
                class="hiddenCarousel"
                @sliding-start="onSlideStart"
                @sliding-end="onSlideEnd"
            >
                <b-carousel-slide caption="" img-blank img-alt="reviews">
                    <div class="row centerMe">
                        <div>
                            <p class="review">
                                <q id="q">
                                    Really informative and enjoyable session.
                                    Trainer was knowledgable and confident in
                                    her presentation and responded to questions
                                    really well. Thank you!
                                </q>
                            </p>
                            <p class="ratingIcons">
                                <font-awesome-icon icon="star" />
                                <font-awesome-icon icon="star" />
                                <font-awesome-icon icon="star" />
                                <font-awesome-icon icon="star" />
                                <font-awesome-icon icon="star" />
                            </p>
                            <p class="author">- Nikki Rogers</p>
                        </div>
                    </div>
                </b-carousel-slide>
                <b-carousel-slide caption="" img-blank img-alt="reviews">
                    <div class="row centerMe">
                        <div>
                            <p class="review">
                                <q id="q">
                                    Debbie our Basic First Aid For Carers
                                    trainer was great, very imformative and felt
                                    our personal stories were valued.
                                </q>
                            </p>
                            <p class="ratingIcons">
                                <font-awesome-icon icon="star" />
                                <font-awesome-icon icon="star" />
                                <font-awesome-icon icon="star" />
                                <font-awesome-icon icon="star" />
                                <font-awesome-icon icon="star" />
                            </p>
                            <p class="author">- Lyn Reid</p>
                        </div>
                    </div>
                </b-carousel-slide>

                <b-carousel-slide caption="" img-blank img-alt="reviews">
                    <div class="row centerMe">
                        <div>
                            <p class="review">
                                <q id="q">
                                    Basic first aid training with Debbie was
                                    excellent. I learned a lot in the short time
                                    and Debbie was clear and patient with what
                                    she was telling us.
                                </q>
                            </p>
                            <p class="ratingIcons">
                                <font-awesome-icon icon="star" />
                                <font-awesome-icon icon="star" />
                                <font-awesome-icon icon="star" />
                                <font-awesome-icon icon="star" />
                                <font-awesome-icon icon="star" />
                            </p>
                            <p class="author">- Gemma Dean</p>
                        </div>
                    </div>
                </b-carousel-slide>

                <b-carousel-slide caption="" img-blank img-alt="reviews">
                    <div class="row centerMe">
                        <div>
                            <p class="review">
                                <q id="q">
                                    Great day training with Debbie, lots of
                                    discussions and stories shared aiding to the
                                    real life practice of skills learnt/reminded
                                    upon.
                                </q>
                            </p>
                            <p class="ratingIcons">
                                <font-awesome-icon icon="star" />
                                <font-awesome-icon icon="star" />
                                <font-awesome-icon icon="star" />
                                <font-awesome-icon icon="star" />
                                <font-awesome-icon icon="star" />
                            </p>
                            <p class="author">- Daniel Clements</p>
                        </div>
                    </div>
                </b-carousel-slide>
            </b-carousel>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            slide: 0,
            sliding: null
        };
    },
    methods: {
        onSlideStart() {
            this.sliding = true;
        },
        onSlideEnd() {
            this.sliding = false;
        }
    }
};
</script>

<style>
.reviewsContainer {
    margin-top: 20px;
}

.reviewsContainer h3 {
    text-align: center;
    font-weight: bold;
    padding-top: 40px;
}

.reviewsContainer .centerMe {
    margin-bottom: 40px;
}

.carousel ol.carousel-indicators li.active,
.carousel ol.carousel-indicators li {
    border-radius: 50%;
    width: 14px;
    height: 14px;
}

.carousel ol.carousel-indicators li {
    background-color: #dfe0e0;
    outline: none;
}

.carousel ol.carousel-indicators li.active {
    background-color: #b2b7c1;
}

/* Reviews divs */

.centerMe div div {
    border-radius: 4px;
    height: 240px;
    box-shadow: 0 2px 5px #a1a7b3;
}

.review {
    text-align: left;
    opacity: 0.8;
    margin: 20px;
    padding-top: 20px;
    color: var(--second-color-dark);
}

.author {
    text-align: left;
    margin-left: 20px;
    color: black;
}

#q {
    quotes: '„' '“';
}

.ratingIcons {
    color: #f4c150;
    text-align: left;
    margin-left: 20px;
}

.hiddenCarousel {
    display: none;
}

/* Media Queries */
@media (max-width: 1200px) {
}

@media (max-width: 992px) {
    .hiddenCarousel {
        display: block;
    }

    .visibleCarousel {
        display: none;
    }

    .centerMe div {
        border-radius: 4px;
        box-shadow: 0 2px 5px #a1a7b3;
    }

    .review {
        padding-top: 0;
    }
}

@media (max-width: 768px) {
    .hiddenCarousel img {
        height: 280px !important;
    }
}

@media (max-width: 576px) {
    .hiddenCarousel img {
        height: 340px !important;
    }
}
</style>
