<template>
    <div>
        <div class="shopContainer container-fluid">
            <h2 class="title">Shop</h2>
        </div>
        <div class="container">
            <masonry
                :cols="{ default: 3, 1200: 3, 992: 3, 768: 2, 576: 1 }"
                :gutter="{ default: '30px', 768: '15px' }"
            >
                <div
                    class="masonryItem"
                    v-for="(item, index) in shopItems"
                    :key="index"
                >
                    <div class="itemContainer">
                        <h4>{{ item.title }}</h4>
                        <p>{{ item['description-p'][0] }}</p>
                        <router-link
                            :to="{
                                path: '/shop/' + item.title,
                                query: {
                                    title: item.title,
                                    pArray: item['description-p'],
                                    price: item.price,
                                    olArray: item['description-ol']
                                }
                            }"
                            >Details</router-link
                        >
                        <button
                            v-on:click="
                                addToCart({
                                    title: item.title,
                                    href: '/courses/care-homes/' + item.title,
                                    query: $route.query,
                                    quantity: 1,
                                    price: item.price
                                })
                            "
                        >
                            Add to Cart
                        </button>
                    </div>
                </div>
            </masonry>
        </div>
    </div>
</template>

<script>
import shopItems from '../assets/data/shopItems';

export default {
    data() {
        return {
            shopItems: shopItems
        };
    },
    methods: {
        addToCart(object) {
            this.$store.state.cartItems.push(object);
            this.$store.state.totalQuantity += 1;
        }
    }
};
</script>

<style scoped>
h2.title {
    font-weight: bold;
    padding-top: 180px;
    text-align: center;
}

.shopContainer {
    height: 400px;
    color: var(--second-color-light);
    background: #242323;
    background-image: url('../assets/img/shop/shop.jpeg');
    background-image: linear-gradient(
            to right,
            rgba(23, 23, 26, 0.9),
            rgba(18, 19, 19, 0.7)
        ),
        url('../assets/img/shop/shop.jpeg');
    background-image: -webkit-linear-gradient(
            to right,
            rgba(22, 22, 22, 0.9),
            rgba(11, 12, 12, 0.7)
        ),
        url('../assets/img/shop/shop.jpeg');
    background-position: center;
    background-size: cover;
}

h4 {
    color: var(--main-color-light);
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
    cursor: default;
}

p {
    margin-left: 10px;
    color: var(--second-color-dark);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-height: 1.5em; /* fallback */
    max-height: 4em * 2; /* fallback */
    margin-right: 10px;
    cursor: default;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: var(--main-color-dark);
    text-transform: uppercase;
    border: 2px solid var(--main-color-dark);
    width: 100px;
    font-weight: bold;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    margin-left: 10px;
    padding: 5px 10px;
    transition: 0.2s;
}

button {
    color: var(--main-color-dark);
    text-transform: uppercase;
    border: 2px solid var(--main-color-dark);
    font-weight: bold;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    margin-left: 10px;
    padding: 4px 9px;
    transition: 0.2s;
}

a:hover,
button:hover {
    text-decoration: none;
    color: white;
    background: var(--main-color-dark);
}

h3 {
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
    margin-bottom: 40px;
}

#showMore {
    text-decoration: none;
    color: var(--second-color-light);
    text-transform: uppercase;
    border: 1px solid var(--main-color-dark);
    background: var(--main-color-dark);
    font-weight: bold;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    position: inherit;
    display: table;
    width: auto;
    padding: 10px 15px;
    margin: 40px auto;
}

.itemContainer {
    box-shadow: 0px 2px 7px #d8d8d8;
    padding: 10px 10px 20px 10px;
}

.masonryItem {
    margin-top: 20px;
    border-radius: 4px;
    transition: 0.2s;
    border: 1px solid rgb(223, 221, 221);
}

.masonryItem:hover {
    box-shadow: 1px 1px 20px #d8d8d8;
}
</style>
