<template>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-7 col-xl-7">
                <div class="textContent">
                    <h1>{{ $route.query.title }}</h1>
                    <div
                        class="description-p"
                        v-for="(item, i) in $route.query.pArray"
                        :key="'p' + i"
                    >
                        <p v-if="item[item.length - 1] !== ':'">{{ item }}</p>
                    </div>
                    <p class="price">£{{ $route.query.price }}</p>
                    <button class="addToCart">Add to cart</button>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5">
                <div class="contactForm">
                    <div class="formContent">
                        <h4>Contact for more course details</h4>
                        <input type="text" value="Title" />
                        <input type="text" value="First Name" />
                        <input type="text" value="Last Name" />
                        <input type="text" value="Email" />
                        <input type="text" value="Phone" />
                        <textarea rows="5" cols="80" class="comments">
Comments</textarea
                        >
                        <button class="submitButton">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>
h1 {
    margin-bottom: 20px;
    font-weight: bold;
}

.outline {
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: bold;
}

.price {
    color: orange;
    font-weight: bold;
    padding-top: 20px;
    font-size: 20px;
}

.addToCart {
    padding: 10px 15px;
    background: var(--main-color-dark);
    color: white;
    font-size: 20px;
    border: 1px solid var(--main-color-dark);
    border-radius: 4px;
}

/*=== Form ===*/

.contactForm {
    background-color: var(--main-color-dark);
    color: white;
    padding-bottom: 30px;
    border-radius: 4px;
}

.textContent {
    padding-right: 40px;
}

.colForm {
    padding-right: 0;
}

.contactForm h4 {
    font-weight: bold;
    text-align: center;
    padding: 30px 40px;
    font-size: 24px;
}

.formContent input {
    display: table;
    margin: 0 auto;
    border-radius: 4px;
    border: none;
    margin-bottom: 10px;
    width: 80%;
}

.formContent textarea.comments {
    height: 100px;
    color: rgb(121, 120, 120);
    border-radius: 4px;
    border: none;
    width: 80%;
    display: table;
    margin: 0 auto;
}

.formContent input[type='text'] {
    padding: 4px 10px;
    color: rgb(121, 120, 120);
}

.submitButton {
    border: 2px solid var(--main-color-light);
    color: white;
    background: var(--main-color-light);
    border-radius: 4px;
    padding: 10px 15px;
    font-weight: bold;
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
}

@media (max-width: 768px) {
    .textContent {
        padding-right: 20px;
    }

    .addToCart {
        display: table;
        margin: 40px auto;
    }
}
</style>
